/.DS_Store
/Books
/Nazeef-Suleman-4.pdf
/Nazeef_Suleman_-_Front_End_Dev_Student.pdf
/Projects
/Resume-Francais.docx
/Resume.docx
/Screen Shot 2021-12-16 at 9.23.37 AM.png
/Screen Shot 2022-01-07 at 5.16.39 PM.png
/Screen Shot 2022-01-07 at 9.20.37 PM.png
/Suleman Nazeef.pdf